remote_theme: nmiglio/jekyll-theme-massively-src

# Site
title:              recipesforfamily
bio:                'delicious meals for busy dads'
description:        "delicious meals for busy dads"
locale:             de_DE
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://nmiglio.github.io/recipesforfamily" # the base hostname & protocol for your site

defaults:
- scope:
    path: ''
    type: posts
  values:
    permalink: "/blog/:title/"
    layout: post
    author:
    
# Jekyll
permalink:          /blog/:title/
markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed

# personal
location:           Munich, Germany
gmaps:              https://www.google.com/maps/place/Munich
meetup:             www.meetup.com/Munich-Dads-Meetup
email:              munichdads@gmail.com

# Gems
gems:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

jekyll-mentions:
    base_url: https://github.com

# Exclude list
exclude: [README.md, Gemfile, Gemfile.lock, node_modules, gulpfile.js, package.json, _site, src, vendor, CNAME, LICENSE, Rakefile, old]
